
@use '../../../styles/variables' as *;

.contact-section {
      background: linear-gradient(to right, $dark-blue-start, $dark-blue-mid, $dark-blue-end);

  .form-group {
    
    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 700;
      color: white;
      font-size: 1.125rem;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 1px solid #d1d5db;
      border-radius: 0.5rem;
      outline: none;
      color: #111827;
      font-size: 1rem;
      transition: border-color 0.2s, box-shadow 0.2s;

      &:focus {
        border-color: #20c997;
        box-shadow: 0 0 0 3px rgba(32, 201, 151, 0.2);
      }
    }

    margin-bottom: 1.5rem;
  }

  .btn {
    background-color: #20c997;
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;

    &:hover {
      background-color: #1a9c75;
      transform: translateY(-1px);
    }

    &:disabled {
      background-color: #a7f3d0;
      cursor: not-allowed;
    }
  }

  .info-item {
    display: flex;
    align-items: start;
    margin-bottom: 1.5rem;

    h4 {
      font-size: 1.1rem;
    }

    p {
      color: #e5e7eb;
      font-size: 0.95rem;
    }

    span {
      color: #20c997;
      font-size: 1.2rem;
    }
  }
}
