@use "sass:color";
@use './styles/variables' as *;


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, $dark-blue-start, $dark-blue-mid, $dark-blue-end);
  color: $text-color-light;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: $primary-color;
  color: $text-color-light;
  border-radius: $border-radius;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    background-color: $primary-color-hover;
  }

  &.btn-secondary {
    background-color: transparent;
    border: 1px solid $border-color-light;
    color: $text-color-light;

    &:hover {
      background-color: $text-color-light;
      color: $dark-blue-end;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color-light;
}

p {
  color: $text-color-muted;
}
